<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>505601012575-k5mnejtac3pv1fc40tdspt5iov4ivali.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505601012575-k5mnejtac3pv1fc40tdspt5iov4ivali</string>
	<key>API_KEY</key>
	<string>AIzaSyBnWrJ_JpcHiK9Oy8YpyYwF9F4_btgveXU</string>
	<key>GCM_SENDER_ID</key>
	<string>505601012575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.extendsapk.coinassist</string>
	<key>PROJECT_ID</key>
	<string>coin-assist-5e130</string>
	<key>STORAGE_BUCKET</key>
	<string>coin-assist-5e130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505601012575:ios:12ad754ec2068836</string>
	<key>DATABASE_URL</key>
	<string>https://coin-assist-5e130.firebaseio.com</string>
</dict>
</plist>