<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Market View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>Exchange:</ion-label>
    <ion-select [(ngModel)]="selExchange" *ngIf="exchanges" interface="popover" (ngModelChange)="selectedExchange(selExchange)">
      <ion-option *ngFor=" let exchange of exchanges ">{{exchange}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let coin of coins">
      <ion-thumbnail item-start>
        <ion-img src="assets/imgs/{{coin.coinCode}}.png"></ion-img>
        <h2>{{coin.coinName}} ({{coin.coinCode}})</h2>
      </ion-thumbnail>
      
      <button ion-button clear item-end>></button>
    </ion-item>
  </ion-list>

</ion-content>