<ion-header>
  <ion-navbar>
    <button type="button" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Market View</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content padding pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="main-content" (swipe)="swipe($event)">
    <div class="centerNetwork" *ngIf="networkFlag == false && networkFlag != undefined">
      <b>Network connection unavailable.</b> Please connect to a network.
      <button class="padding2rem" (click)="ngOnInit()" ion-button color="light">Retry</button>
    </div>
    <ion-item *ngIf="networkFlag">
      <ion-label>Exchange:</ion-label>
      <ion-select [(ngModel)]="selExchange" interface="popover" (ngModelChange)="selectedExchange(selExchange)">
        <ion-option *ngFor="let exchange of exchanges">{{exchange}}</ion-option>
      </ion-select>

    </ion-item>

    <ion-list *ngIf="networkFlag">
      <ion-spinner *ngIf="coins == undefined" class="coinSpinner"></ion-spinner>
      <!-- <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4>Cryptos</ion-col>
          <ion-col col-4>
            Market Price
          </ion-col>
          <ion-col col-2>Change
            <br>%</ion-col>
          <ion-col col-2>Price Index</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> -->
      <ion-card *ngFor="let coin of coins" (click)="navCoinDetailPage(coin)">
        <ion-item detail-push>
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <ion-thumbnail item-start>
                  <img src="{{coin.coinImage}}">
                  <div class="coinName weight500">{{coin.coinName}}
                    <br> ({{coin.coinCode}})
                  </div>
                </ion-thumbnail>
              </ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-8>
                    <ion-row class="price">
                      {{coin.market.formatted}}
                    </ion-row>
                  </ion-col>
                  <ion-col col-4 class="boldTextValue" *ngIf="coin.change != undefined">
                    <div *ngIf="coin.change.day >= 0" class="greenColor weight500">
                      <span class="size1rem7">&#9650;</span>+{{coin.change.day}}%
                    </div>
                    <div *ngIf="coin.change.day < 0" class="redColor weight500">
                      <span class="size1rem7">&#9660;</span>{{coin.change.day}}%
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6 *ngIf="coin.volatility">
                    <span class="riseFallSymbol weight500 size1rem9">&#8645;</span>
                    <span class="weight500"> {{coin.volatility}}% </span>
                  </ion-col>
                  <ion-col col-6>
                    Price:
                    <span [ngClass]="coin.price_index">{{coin.price_index}}</span>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="coin.max.no">
                  <ion-col col-12>
                    <span>High: </span>
                    <span class="greenColor weight500">{{coin.max.formatted}}</span>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="coin.min.no">
                  <ion-col col-12>
                    <span>Low: </span>
                    <span class="redColor weight500">{{coin.min.formatted}}</span>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12 *ngIf="coin.globalDiff != undefined">
                    <div *ngIf="coin.globalDiff.percent >= 0">
                      Global.Diff(%):
                      <span class="greenColor weight500">{{coin.globalDiff.percent}}%</span>
                    </div>
                    <div *ngIf="coin.globalDiff.percent < 0">
                      Global.Diff(%):
                      <span class="redColor weight500">{{coin.globalDiff.percent}}%</span>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-1 class="vertical-align-content">
                <span class="weight500 nextButton">></span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>