// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
    text-transform: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.scroll-content {
    overflow-y: auto !important;
}

.redColor {
    color: #b95516;
}

.greenColor {
    color: #009b2c;
}

.size1rem7 {
    font-size: 1.7rem;
}

.size1rem4 {
    font-size: 1.4rem;
}

.size1rem9 {
    font-size: 1.9rem;
}

.Medium {
    color: darkolivegreen;
    font-weight: 500;
}

.High {
    color: #009b2c;
    font-weight: 500;
}

.Low {
    color: #b95516;
    font-weight: 500;
}

.boldTextValue {
    font-weight: 500;
    font-size: 1.5rem;
}

.weight500 {
    font-weight: 500;
}

.font .row {
    align-items: center;
}

.vertical-align-content>* {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    white-space: normal;
}

.marginTop1rem5 {
    margin-top: 1.5rem;
}

.greyColor {
    color: grey;
}

.price {
    font-size: 1.9rem;
    font-weight: 500;
    color: #909090;
}