<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profit / Loss Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card-header class="weight500 size1rem8">
    Enter Buy/Sell Detail:
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label fixed>Quantity</ion-label>
      <ion-input type="number" placeholder="0.0123" [(ngModel)]="profitCalc.quantity.no" clearInput="true" (ngModelChange)="checkRequiredFields('qty')"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Buy Price &#8377;</ion-label>
      <ion-input type="number" placeholder="1000" [(ngModel)]="profitCalc.fromValue.no" clearInput="true" (ngModelChange)="buySellPriceChanged('buy')"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Sell Price &#8377;</ion-label>
      <ion-input type="number" placeholder="2000" [(ngModel)]="profitCalc.toValue.no" clearInput="true" (ngModelChange)="buySellPriceChanged('sell')"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Profit / Loss &#8377;</ion-label>
      <ion-input type="number" placeholder="3000" [(ngModel)]="profitCalc.profitLoss.no" clearInput="true" (ngModelChange)="updateSellPrice()"></ion-input>
    </ion-item>
    <ion-item>
      <button class="padding2rem" (click)="clearAll()" ion-button color="light">Clear All</button>
    </ion-item>
  </ion-list>
  <ion-card-header class="weight500 size1rem8">
    Summary
  </ion-card-header>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          Quantity:
        </ion-col>
        <ion-col col-7>
          {{this.profitCalc.quantity.formatted}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Investment:
        </ion-col>
        <ion-col col-7 class="weight500 blueColor">
          {{this.profitCalc.amount.formatted}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Buy Price:
        </ion-col>
        <ion-col col-7>
          {{this.profitCalc.fromValue.formatted}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Sell Price:
        </ion-col>
        <ion-col col-7>
          {{this.profitCalc.toValue.formatted}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Profit / Loss:
        </ion-col>
        <ion-col col-7 class="weight500" [ngClass]="{'greenColor': this.profitCalc.profitLoss.no>0, 'redColor': this.profitCalc.profitLoss.no<0}">
          {{this.profitCalc.profitLoss.formatted}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          Net Amount:
        </ion-col>
        <ion-col col-7 class="weight500 size2rem" [ngClass]="{'greenColor': this.profitCalc.profitLoss.no>0, 'redColor': this.profitCalc.profitLoss.no<0}">
          {{this.profitCalc.finalValue.formatted}}
        </ion-col>
      </ion-row>
      <ion-row class="alignCenter" *ngIf="this.profitCalc.profitLoss.no != 0 && this.profitCalc.profitLoss.no">
        <ion-col col-12>
          <span>
            [{{this.profitCalc.amount.formatted}}
            <span *ngIf="this.profitCalc.profitLoss.no > 0"> + </span>
            <span [ngClass]="{'greenColor': this.profitCalc.profitLoss.no>0, 'redColor': this.profitCalc.profitLoss.no<0}" class="weight500">{{this.profitCalc.profitLoss.formatted}}</span>]
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>