<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quantity / Amount Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item>
      <ion-label fixed>Exchange</ion-label>
      <ion-select [(ngModel)]="selExchange" *ngIf="selExchange" interface="popover" (ngModelChange)="populateCoins(selExchange)">
        <ion-option *ngFor=" let exchange of exchanges ">{{exchange}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>Crypto-Coin</ion-label>
      <ion-select [(ngModel)]="selCoin" interface="popover" (ngModelChange)="populateCoinValues(selCoin)">
        <ion-option *ngFor=" let coin of coins" [value]="coin">{{coin.coinName}} ({{coin.coinCode}})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>Coin Rate</ion-label>
      <ion-input type="number" placeholder="Rate" [(ngModel)]="selCoin.range.rate.no" clearInput="true" (ngModelChange)="updateRange($event)"></ion-input>
    </ion-item>
    <ion-item>
      {{selCoin.range.rate.formatted}}
    </ion-item>
    <ion-item>
      <ion-range [min]="selCoin.range.minusPercent.no" [max]="selCoin.range.plusPercent.no" step="0.25" snaps="true" [(ngModel)]="selCoin.range.rate.no"
        (ionChange)="rangeChanged()">
        <ion-label range-left>{{selCoin.range.minusPercent.formatted}}</ion-label>
        <ion-label range-right>{{selCoin.range.plusPercent.formatted}}</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label fixed>Amount &#8377;</ion-label>
      <ion-input type="number" placeholder="1000" clearInput="true" [(ngModel)]="amount" max="9" (ngModelChange)="amountChanged($event)"></ion-input>
    </ion-item>
    <!-- <div *ngIf="amountFlag">*Amount exceeding Limit</div> -->
    <ion-item>
      <ion-label fixed>Quantity</ion-label>
      <ion-input type="number" placeholder="Quantity" clearInput="true" [(ngModel)]="quantity" (ngModelChange)="calcAmount()"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>