page-quantity-calc {
    * {
        font-size: 1.6rem;
    }
    ion-select {
        max-width: 100%;
    }
    img {
        width: 50%
    }
    .getPoints {
        margin-bottom: 2.2rem;
    }
}