<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Coin Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header class="size1rem4">Exchange -
      <span class="weight500 size1rem9">{{exchange}}</span>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <ion-thumbnail>
            <img src="assets/imgs/{{coinDetail.coinCode}}.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-7 class="vertical-align-content marginTop1rem5">
          <h1>{{coinDetail.coinName}}
            <br>({{coinDetail.coinCode}})</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-header class="size1rem4">Exchange price:
        </ion-card-header>
      </ion-row>
      <ion-row>
        <ion-col col-8 class="price">
          {{coinDetail.market.formatted}}
        </ion-col>
        <ion-col col-4 class="boldTextValue">
          <div *ngIf="coinDetail.change.day >= 0" class="greenColor weight500">
            <span class="size1rem7">&#9650;</span>+{{coinDetail.change.day}}%
          </div>
          <div *ngIf="coinDetail.change.day < 0" class="redColor weight500">
            <span class="size1rem7">&#9660;</span>{{coinDetail.change.day}}%
          </div>
        </ion-col>
      </ion-row>
      span.boldTextValue
      <ion-row>
        <ion-col col-6>Buy:
          <span class="boldTextValue">{{coinDetail.buy.formatted}}</span>
        </ion-col>
        <ion-col col-6>Sell:
          <span class="boldTextValue">{{coinDetail.sell.formatted}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          (1h):
          <br>
          <span class="boldTextValue">
            <span *ngIf="coinDetail.change.hour >= 0" class="greenColor weight500">
              <span class="size1rem7">&#9650;</span>+{{coinDetail.change.hour}}%
            </span>
            <span *ngIf="coinDetail.change.hour < 0" class="redColor weight500">
              <span class="size1rem7">&#9660;</span>{{coinDetail.change.hour}}%
            </span>
          </span>
        </ion-col>
        <ion-col col-4>
          (24h):
          <br>
          <span class="boldTextValue">
            <span *ngIf="coinDetail.change.day >= 0" class="greenColor weight500">
              <span class="size1rem7">&#9650;</span>+{{coinDetail.change.day}}%
            </span>
            <span *ngIf="coinDetail.change.day < 0" class="redColor weight500">
              <span class="size1rem7">&#9660;</span>{{coinDetail.change.day}}%
            </span>
          </span>
        </ion-col>
        <ion-col col-4>
          (1w):
          <br>
          <span class="boldTextValue">
            <span *ngIf="coinDetail.change.week >= 0" class="greenColor weight500">
              <span class="size1rem7">&#9650;</span>+{{coinDetail.change.week}}%
            </span>
            <span *ngIf="coinDetail.change.week < 0" class="redColor weight500">
              <span class="size1rem7">&#9660;</span>{{coinDetail.change.week}}%
            </span>
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <span>Low: </span>
          <span class="redColor weight500">{{coinDetail.min.formatted}}</span>
        </ion-col>
        <ion-col col-6>
          <span>High: </span>
          <span class="greenColor weight500">{{coinDetail.max.formatted}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 *ngIf="coinDetail.volatility">
          Volatility
          <span class="riseFallSymbol weight500"> &#8645;</span>
          <span class="weight500"> {{coinDetail.volatility}}% </span>
        </ion-col>
        <ion-col col-6>
          Price Index:
          <span [ngClass]="coinDetail.price_index">{{coinDetail.price_index}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-header class="size1rem4">Global price:
        </ion-card-header>
      </ion-row>
      <ion-row>
        <span class="price">{{coinDetail.global.INR.formatted}} </span>
        <span class="price">({{coinDetail.global.USD.formatted}})</span>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div *ngIf="coinDetail.globalDiff.percent >= 0">
            Global.Diff(%):
            <span class="greenColor weight500">{{coinDetail.globalDiff.percent}}%</span>
          </div>
          <div *ngIf="coinDetail.globalDiff.percent < 0">
            Global.Diff(%):
            <span class="redColor weight500">{{coinDetail.globalDiff.percent}}%</span>
          </div>
        </ion-col>
        <ion-col col-12>
          <div *ngIf="coinDetail.globalDiff.val.no >= 0">
            Global.Diff(%):
            <span class="greenColor weight500">{{coinDetail.globalDiff.val.formatted}}%</span>
          </div>
          <div *ngIf="coinDetail.globalDiff.val.no < 0">
            Global.Diff(%):
            <span class="redColor weight500">{{coinDetail.globalDiff.val.formatted}}%</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button (click)="gotoCalcQuantityPage()" ion-button small class="boldTextValue"> Calculate Quantity</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="openReferralLink()" ion-button small class="boldTextValue">Buy / Sell {{coinDetail.coinName}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- Rage for setting price alert -->

<!-- <ion-item>
        <h2> From : {{rangeRegion.lower}}</h2>
        <h2> To: {{rangeRegion.upper}}</h2>
      </ion-item>
      <ion-item>
        <ion-range dualKnobs="true" pin="true" snaps="true" [step]="coinDetail.step" (ionChange)="change()" steps [(ngModel)]="rangeRegion"
          [min]="coinDetail.minus20.no" [max]="coinDetail.plus20.no">
          <ion-label range-left>{{coinDetail.minus20.formatted}}</ion-label>
          <ion-label range-right>{{coinDetail.plus20.formatted}}</ion-label>
        </ion-range>
      </ion-item> -->

<!-- Alert Button -->

<!-- <ion-item>
        <button ion-button large>Set Alert</button>

      </ion-item> -->