page-coin-detail {
    // * {
    //     text-transform: none;
    //     font-size: 1.4rem;
    //     font-weight: 400;
    // }
    
    ion-avatar img,
    ion-thumbnail img {
        height: 8rem;
        width: 8rem;
    }

    .center{
        text-align: center;
    }
    
    ion-col [col-6]{ 
        text-align: center;
    }
    img{
        height: 8rem;
        width: 8rem;
        float: right;
    }

    .rem3
    {
        font-size: 3rem;
    }
}